## DataFrames

In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn
np.random.seed(101)

In [10]:
string1 = 'a b c d e'
print(string1.split())
df = pd.DataFrame(randn(5,4),index='A B C D E '.split(),columns='W X Y Z'.split())
df

['a', 'b', 'c', 'd', 'e']

          W         X         Y         Z
A  1.606780 -1.115710 -1.385379 -1.329660
B  0.041460 -0.411055 -0.771329  0.110477
C -0.804652  0.253548  0.649148  0.358941
D -1.080471  0.902398  0.161781  0.833029
E  0.975720 -0.388239  0.783316 -0.708954

## Selection and Indexing

In [11]:
df['W']

A    1.606780
B    0.041460
C   -0.804652
D   -1.080471
E    0.975720
Name: W, dtype: float64

In [31]:
df[['W', 'X']]
df['W Y'.split()]

          W         Y
A  1.606780 -1.385379
B  0.041460 -0.771329
C -0.804652  0.649148
D -1.080471  0.161781
E  0.975720  0.783316

In [32]:
df.W

A    1.606780
B    0.041460
C   -0.804652
D   -1.080471
E    0.975720
Name: W, dtype: float64

In [33]:
type(df['W'])

pandas.core.series.Series

In [36]:
df['new']=df['W']+df['Y']
df

          W         X         Y         Z       new
A  1.606780 -1.115710 -1.385379 -1.329660  0.221401
B  0.041460 -0.411055 -0.771329  0.110477 -0.729869
C -0.804652  0.253548  0.649148  0.358941 -0.155504
D -1.080471  0.902398  0.161781  0.833029 -0.918690
E  0.975720 -0.388239  0.783316 -0.708954  1.759036

In [38]:
df.drop('new',axis=1)

          W         X         Y         Z
A  1.606780 -1.115710 -1.385379 -1.329660
B  0.041460 -0.411055 -0.771329  0.110477
C -0.804652  0.253548  0.649148  0.358941
D -1.080471  0.902398  0.161781  0.833029
E  0.975720 -0.388239  0.783316 -0.708954